
application-local.properties
.vscode/
.idea/

target/
.mvn/
mvn
mvnw
mvnw.cmd
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

*.class
